<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" {{url_for('static', filename='curso.css') }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/terra.png">
  <title>Informática básica</title>
 
</head>
<body>
  
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h1>Informática Básica<br></br>Aprenda os conceitos fundamentais da informática </h1>
      </section>

      <section class="module content">
        <div class="container">

          <h2>Visão geral
        </h2>
        <div style="position: relative; overflow: hidden; aspect-ratio: 1920/1080"><iframe src="https://share.synthesia.io/embeds/videos/99a02c37-14d8-4d64-8245-7128ffd692f0" loading="lazy" title="Synthesia video player - curso informatica basica" allowfullscreen allow="encrypted-media; fullscreen;" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow:hidden;"></iframe></div>
          <p>
            Este curso aborda os conceitos básicos da informática, incluindo hardware,
            software e redes.<br></br> Você aprenderá sobre os componentes de um computador,
            como utilizar o sistema operacional, noções de segurança na internet e muito
            mais  </p>
          <h2>Introdução à informática</h2>
          <p>A informática é uma área do conhecimento que envolve o estudo e o
            desenvolvimento de tecnologias relacionadas ao processamento,
            armazenamento e transmissão de informações.<br></br> Ela desempenha um papel
            fundamental na sociedade atual, sendo responsável por diversas
            transformações nas formas de comunicação, trabalho e entretenimento.<br></br>
            Neste tópico, vamos explorar algumas noções básicas da informática, que
            serão essenciais para compreendermos conceitos mais avançados nessa área.
            Vamos abordar os seguintes temas:</p>

            <h2>1.Hardware e Software</h2>

            <p>Para compreender a informática, é importante entender a diferença entre
            hardware e software.<br></br> O hardware se refere aos componentes físicos de um
            computador, como a unidade central de processamento (CPU), a memória, o
            disco rígido e os periféricos, como mouse e teclado. <br></br>Já o software engloba os
            programas e aplicativos que são executados em um computador.<br></br>
            Introdução à informática<br></br>
            É fundamental compreender como essas duas partes interagem para que um
            computador funcione corretamente. <br></br>Veremos também alguns exemplos de
            hardware e software mais comuns.</p>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/N821SCozErY?si=i-KEWI-OhLdBS5RG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <h2>2. Sistemas Operacionais</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/yHhedN166ls?si=UabN8-rmwPM4DQdG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <p>Todo computador precisa de um sistema operacional para funcionar.<br></br> O sistema
            operacional é o software responsável por gerenciar todos os recursos do
            computador e permitir que os usuários interajam com a máquina.<br></br>
            Conheceremos os principais sistemas operacionais existentes e entenderemos
            como eles funcionam.</p>

            <h2>3.Redes de Computadores</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/q0S75nKpmcw?si=DMdERolWIre4t9J0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
            <p>A internet é uma parte essencial da nossa vida atual, e o seu funcionamento é
            baseado em redes de computadores.<br></br> Neste tópico, vamos explorar como as
            redes são estruturadas, como os dados são transmitidos entre computadores e
            como utilizar a internet de forma segura.</p>

            <h2>4. Segurança da Informação</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/nVmRHtHJKfw?si=kGBgeSanEbIWTj1L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <p>Nos dias de hoje, é fundamental entender como proteger nossas informações
            pessoais e profissionais de possíveis ameaças virtuais.<br></br> Aqui, abordaremos
            conceitos básicos de segurança da informação, como senhas seguras,
            antivírus, firewall e backup de dados.</p>

            <h2>5.Aplicações da Informática</h2>

            <p>Por fim, conheceremos as diversas aplicações da informática em diferentes
            áreas, como no trabalho, na educação, na medicina e no entretenimento.<br></br>
            Veremos como a tecnologia tem transformado a forma como realizamos
            atividades cotidianas e como a informática está presente em praticamente
            todos os aspectos da nossa vida.<br></br>
            Ao final deste tópico, você terá uma visão abrangente sobre a informática e
            suas principais áreas de estudo. <br></br>Esses conhecimentos serão fundamentais para
            compreender os demais tópicos do curso "Informática Básica" e para utilizar a
            tecnologia de forma eficiente e segura em sua vida pessoal e profissional.
            Conclusão  Introdução à informática</p>

          <p>O curso de Informática Básica abordou diferentes aspectos
            da área, iniciando com a introdução à informática.<br></br> O
            conhecimento adquirido sobre noções básicas de
            hardware permitirá entender o funcionamento dos
            componentes físicos de um computador.<br></br> Já as noções
            básicas de software proporcionam a compreensão do
            funcionamento dos programas e sistemas operacionais.<br></br>
            Com esses conhecimentos, os alunos estão preparados
            para dar os primeiros passos no mundo da informática.</p>
          
           <h1> Noçõesbásicas de hardware</h1>

            <h2>Visão geral</h2>

          <p>Neste tópico, abordaremos as noções básicas de hardware, que é uma parte
            fundamental do curso de informática básica. O hardware refere-se aos
            componentes físicos do computador, como a unidade central de
            processamento (CPU), memória, disco rígido, placa-mãe, entre outros.<br></br>
            Compreender esses conceitos básicos é essencial para que possamos utilizar
            efetivamente um computador.<br></br>
            Componentes principais do hardware
            Unidade Central de Processamento (CPU)
            A CPU é o "cérebro" do computador, responsável pela execução de tarefas e
            processamento de dados. <br></br>Ela interpreta e executa as instruções do software,
            realizando cálculos, armazenamento temporário de dados e controle de outros
            componentes.</p>

            <h2>Memória</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ke1PaxrmoGk?si=PSo6xZ6AJXqIbkxC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          <p>A memória é o local onde os dados e programas são armazenados
            temporariamente para serem processados pela CPU. <br></br>Existem diferentes tipos
            de memória, como a memória RAM (Random Access Memory) e a memória
            cache, que têm velocidades de acesso diferentes.</p>

            <h2>Disco Rígido</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/bFAN9SGAFAg?si=KYvpntdEvMEyNFPq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          <p>O disco rígido é o dispositivo de armazenamento permanente do computador.<br></br>
            Nele, são armazenados os dados do sistema operacional, dos programas e dos
            arquivos que utilizamos. É nele que os programas são instalados e o sistema
            operacional é executado.</p>

            <h2>Placa-mãe</h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/afnx2q0fdeQ?si=xni9HirHZs3V15MZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          <p>A placa-mãe é o componente principal do computador, que conecta todos os
            outros componentes entre si.<br></br> É responsável por permitir a comunicação entre a
            CPU, a memória, o disco rígido e outros dispositivos, como a placa de vídeo,
            placa de som, entre outros.</p>

            <h2>Fonte de alimentação</h2>

            <img src="../static/img/fonteatx.jpg" width="80%"  height="315"></img>

          <p>A fonte de alimentação é responsável por fornecer energia elétrica para os
            componentes do computador.<br></br> Ela converte a corrente elétrica da tomada em
            uma voltagem adequada e distribui essa energia para os diferentes
            componentes.</p>

            <h2>Periféricos</h2>

            <img src="../static/img/periferico3.jpg" width="80%"  height="315"></img>

          </p>Os periféricos são dispositivos externos ao computador que nos permitem
            interagir com o sistema.<br></br> Alguns exemplos são o teclado, o mouse, o monitor, a
            impressora, o scanner, entre outros.<br></br> Esses dispositivos se conectam à CPU por
            meio de portas específicas.</p>

            <h2>Conclusão  Noções básicas de hardware</h2>

            <p>A introdução à informática apresentou os conceitos
            fundamentais da área, como a história da computação e a
            importância da tecnologia na sociedade atual.<br></br> Ao
            compreender as noções básicas de hardware, os alunos
            estão aptos a realizar manutenções e melhorias em
            computadores. Além disso, as noções básicas de software
            capacitam os estudantes a utilizar programas e sistemas
            operacionais com facilidade.<br></br> Assim, o curso proporciona
            uma base sólida para o uso da informática no dia a dia.</p>



          
          
          
           </div>
      </section>

      <section class="module parallax parallax-2">
        
           <h1>Noções básicas de software</h1>           <br></br>     
      </section>

      <section class="module content">
        <div class="container">
          <h2>O que é software?</h2>
          
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/jifaRjuMqyk?si=X_rNW1yHjxqJ52C0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br></br>          
          
           <h2> O que é software?</h2>
            <p> Software é um conjunto de programas, instruções e dados que permitem que
            um computador execute tarefas específicas.<br></br> Basicamente, é o componente
            intangível do computador - a parte que você não pode tocar fisicamente, mas
            que desempenha um papel essencial no funcionamento da máquina.</P>

            <p>Os softwares podem ser classificados em dois tipos principais: softwares de
            sistema e softwares de aplicação.<br></br> O software de sistema é responsável pelo
            gerenciamento dos recursos do computador, como o sistema operacional. <br></br>Já o
            software de aplicação é projetado para atender necessidades específicas dos
            usuários, como processadores de texto e navegadores de internet.</p>

            <h2>Principais tipos de software</h2>

            <h3>Sistemas Operacionais</h3>

            
            <img src="../static/img/sistemas_operacionais.jpg" width="80%"  height="315"></img>
            

            <p>O sistema operacional é um software básico que permite a comunicação entre o
            usuário e o hardware do computador.<br></br> Ele fornece uma interface intuitiva e
            facilita a execução de tarefas, como abrir programas, salvar arquivos e
            conectar-se à internet. <br></br>Alguns dos sistemas operacionais mais populares
            incluem o Windows, MacOS e Linux.</p>

            <h2>Aplicativos de Produtividade</h2>

            <img src="../static/img/aplicativos_produtividade.jpg" width="80%"  height="315"></img>
            

            <p>Os aplicativos de produtividade são softwares projetados para auxiliar na
            realização de tarefas relacionadas ao trabalho, estudo ou entretenimento.<br></br> Esses
            programas incluem processadores de texto, planilhas eletrônicas,
            apresentações de slides e software de edição de imagens e vídeos.<br></br> Exemplos
            comuns são Microsoft Office, Google Docs e Adobe Photoshop.</p>

            <h2>Navegadores de Internet</h2>

            <img src="../static/img/navegadores.jpg" width="80%"  height="315"></img>
            
            
           <p> Os navegadores de internet são responsáveis por permitir o acesso à World
            Wide Web. <br></br>Eles possibilitam a visualização de páginas da web, a execução de
            pesquisas, a reprodução de vídeos e a interação com diferentes sites.<br></br> Alguns
            navegadores populares são Google Chrome, Mozilla Firefox e Microsoft Edge.</p>
            
            <h2>Softwares de Segurança</h2>

            <img src="../static/img/softwere_seguranca.jpg" width="80%"  height="315"></img>
            

            <p>Os softwares de segurança são projetados para manter os computadores
            protegidos contra ameaças, como vírus, malware e hackers.<br></br> Esses programas
            incluem antivírus, firewalls e ferramentas de criptografia. Exemplos conhecidos
            são Avast, McAfee e Norton Antivirus.</p>

            <h2>Softwares de Design Gráfico</h2>

            <img src="../static/img/desing_grafico.png" width="80%"  height="315"></img>
            

            <p>Os softwares de design gráfico são utilizados por profissionais criativos para
            criar ilustrações, logotipos, imagens e layouts.<br></br> Esses programas oferecem
            ferramentas avançadas para a manipulação de imagens e a criação de
            elementos gráficos. Exemplos populares são Adobe Illustrator, CorelDRAW e
            GIMP.</p>

            <h2>Instalação e Desinstalação de Software</h2>

            <img src="../static/img/instalacao.jpg" width="80%"  height="315"></img>
            

            <p>Para instalar um software em um computador, geralmente é necessário baixar o
            arquivo de instalação do site oficial ou inserir um CD/DVD de instalação.<br></br> Após o
            download ou inserção do disco, basta seguir as instruções fornecidas para
            concluir o processo de instalação.<br></br> Vale ressaltar que é importante ler os
            requisitos mínimos do sistema antes de instalar um software, para garantir que
            o computador seja compatível.</p>

            <p>Para desinstalar um software, normalmente é possível utilizar a opção
            "Desinstalar" que acompanha o programa no menu Iniciar do Windows ou nas
            configurações do MacOS e Linux.<br></br> Essa opção irá remover todos os arquivos e
            entradas relacionadas ao software do sistema.</p>

            <h2>Atualizações de Software</h2>

            <img src="../static/img/update.png" width="80%"  height="315"></img>
            

            <p>As atualizações de software são lançadas regularmente pelos desenvolvedores
            para corrigir falhas, adicionar novos recursos e melhorar a segurança dos
            programas.<br></br> Essas atualizações podem ser instaladas manualmente pelos
            usuários ou configuradas para ocorrerem automaticamente, dependendo das
            configurações do sistema.</p>

            <p>É altamente recomendado manter os softwares atualizados para garantir o
            máximo desempenho e segurança do computador.<br></br> Além disso, é importante
            lembrar que nem todas as atualizações são gratuitas, e algumas podem exigir
            uma licença ou pagamento adicional para serem utilizadas.</p>

            <h2>Considerações Finais</h2>

            <p>As noções básicas de software são essenciais para qualquer pessoa que utilize
            um computador. <br></br>Compreender como os diferentes tipos de software funcionam
            e como instalá-los e atualizá-los corretamente é fundamental para aproveitar
            todas as possibilidades oferecidas pela tecnologia.<br></br> Com o tempo, você se
            familiarizará com os diferentes softwares e poderá explorar suas capacidades
            ainda mais.</p>

            <h2>Conclusão  Noções básicas de software</h2>

            <p>O curso de Noções Básicas de Hardware abrangeu temas
            como os componentes internos e externos de um
            computador, as principais interfaces de conexão e as
            técnicas de montagem e manutenção.<br></br> Com esses
            conhecimentos, os alunos estão preparados para realizar
            upgrades e consertos em seus computadores.<br></br> Além disso,
            a compreensão das noções básicas de software permite a
            utilização adequada dos programas e sistemas
            operacionais. Assim, o curso proporciona uma base sólida
            para a utilização dos recursos tecnológicos. </p>
         
           






</p>          
        </div>
      </section>

      <section class="module parallax parallax-3">
        <h1><spam>Exercícios Práticos</spam></h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Vamos colocar os seus conhecimentos em prática</h2>
            
          
            <h2>Exercícios Práticos</h2>

          <p> Nesta lição, colocaremos a teoria em prática por meio de atividades práticas.
                Clique nos itens abaixo para conferir cada exercício e desenvolver habilidades
                práticas que o ajudarão a ter sucesso na disciplina.</p>

              <h2>Navegando na Internet</h2>

            <p>Neste exercício, você deverá abrir um navegador de internet e realizar
                uma pesquisa sobre um tema de sua escolha. Pesquise informações,
                imagens ou vídeos relacionados ao tema e salve-os em um documento
                de texto. Em seguida, compartilhe o documento com um colega.</p>

              <h2> Exercícios Práticos</h2>

        </p> Vamos colocar os seus conhecimentos em prática</p>

      <h2>Montando um computador</h2>

      </p>Neste exercício, você deverá montar um computador utilizando as
                peças que foram disponibilizadas. Siga o manual de instruções para
                encaixar cada componente corretamente, garantindo que as conexões
                estejam firmes. Após a montagem, ligue o computador e verifique se ele
                inicializa corretamente.</p>

              <h2>Instalando um programa</h2>

            <p> Neste exercício, você deverá escolher um programa ou aplicativo de
                sua preferência e realizar sua instalação em um computador. Siga as
                instruções fornecidas pelo programa durante o processo de instalação e
                certifique-se de que o programa seja executado corretamente após a
                conclusão.</p>

              <h2>Resumo</h2>
            <h3>Vamos rever o que acabamos de ver até agora</h3>

          <p>O curso de Informática Básica abordou diferentes aspectos da área, iniciando
com a introdução à informática. O conhecimento adquirido sobre noções
básicas de hardware permitirá entender o funcionamento dos componentes
físicos de um computador. Já as noções básicas de software proporcionam a
compreensão do funcionamento dos programas e sistemas operacionais. Com
esses conhecimentos, os alunos estão preparados para dar os primeiros passos
no mundo da informática.</p>

<p>A introdução à informática apresentou os conceitos fundamentais da área, como
a história da computação e a importância da tecnologia na sociedade atual. Ao
compreender as noções básicas de hardware, os alunos estão aptos a realizar
manutenções e melhorias em computadores. Além disso, as noções básicas de
software capacitam os estudantes a utilizar programas e sistemas operacionais
com facilidade. Assim, o curso proporciona uma base sólida para o uso da
informática no dia a dia.</p>

<p>O curso de Noções Básicas de Hardware abrangeu temas como os
componentes internos e externos de um computador, as principais interfaces de
Resumo
Vamos rever o que acabamos de ver até agora
conexão e as técnicas de montagem e manutenção. Com esses
conhecimentos, os alunos estão preparados para realizar upgrades e consertos
em seus computadores. Além disso, a compreensão das noções básicas de
software permite a utilização adequada dos programas e sistemas operacionais.
Assim, o curso proporciona uma base sólida para a utilização dos recursos
tecnológicos.</p>

<h2>Questionário</h2>

<p>Pergunta 1/6

</p>Qual o nome do curso?</p>

<li>Introdução à informática</li>
<li>Noções básicas de hardware</li>
<li>Informática Básica</li>

<p>Pergunta 2/6</p>

<p>O que é informática?</p>

<li>A técnica de processamento automático de informações</li>
<li>Um tipo de software</li>
<li>Um componente de hardware</li>

<p>Questionário</p>

<h3>Verifique o seu conhecimento respondendo a algumas perguntas</h3>
<p>Pergunta 3/6</p>

<p>Quais são as noções básicas de hardware?</p>

<li>Operar um software</li>
<li>Conhecer os principais componentes de um computador</li>
<li>Escrever códigos de programação</li>

<p>Pergunta 4/6</p>

<p>O que é software?</p>

<li>É um conjunto de peças que formam o computador</li>
<li>É a parte física do computador</li>
<li>É um conjunto de programas, instruções e dados que permitem executar</li>

<h2>tarefas no computador</h2>

<p>Pergunta 5/6</p>

<p>O que é um sistema operacional?</p>

<li>É a memória principal do computador</li>
<li>É um tipo de software específico para jogos</li>
<li>É o software responsável por controlar e coordenar as atividades do
computador</li>

<p>Pergunta 6/6</p>

<p>Quais são os principais sistemas operacionais utilizados?</p>

<li>Windows, Linux e iOS</li>
<li>Android, macOS e Ubuntu</li>
<li>Microsoft Office, Photoshop </li>

<h2>Conclusão</h2>

<p>Parabéns!
Parabéns por concluir este curso! Você deu um passo importante para
liberar todo o seu potencial. Concluir este curso não é apenas adquirir
conhecimento; trata-se de colocar esse conhecimento em prática e
causar um impacto positivo no mundo ao seu redor.

          </p>

          <button><a href="/sobre">voltar</a></button>
         
        </div>
        <footer>andrecorreiadev &copy</footer>
      </section>

    </main>
  </div>

</body>
</html>