<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" {{url_for('static', filename='home.css') }}"/>
  <title>Projeto socioambiental</title>
  <!--
    YOUTUBE: https://www.youtube.com/c/Sujeitoprogramador/
    BLOG: https://sujeitoprogramador.com
    INSTAGRAM: https://instagram.com/sujeitoprogramador
  -->
</head>
<body>
  
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h1>Projeto socioambiental<br></br>Verde renovar </h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Bom, aqui está uma breve história da verde renovar :</h2>
          <p>
           Apresentamos o projeto "Verde renovar", uma iniciativa dedicada ao reflorestamento de matas ciliares em nossa região.<br></br>
            Nosso objetivo é restaurar e proteger as áreas ribeirinhas, promovendo a conservação da biodiversidade, a melhoria da qualidade da água e a mitigação dos impactos das mudanças climáticas.<br></br>
             Através da plantação de espécies nativas e da adoção de práticas sustentáveis, buscamos criar corredores verdes que conectem ecossistemas fragmentados e proporcionem habitat para a vida selvagem.<br></br>
              Contamos com o apoio da comunidade local, voluntários e parceiros para juntos tornarmos nossos rios mais saudáveis e nossas florestas mais resilientes.<br></br>
               Junte-se a nós nesta jornada de regeneração ambiental e construção de um futuro mais sustentável para todos.

             </p>
          <p>
           Conservação da biodiversidade: As áreas ribeirinhas e matas ciliares abrigam uma grande diversidade de espécies vegetais e animais, muitas das quais são exclusivas desses ecossistemas.<br></br>
            Proteger essas áreas é fundamental para preservar a fauna e a flora nativas, garantindo a manutenção da biodiversidade. </p>          
        </div>
      </section>

      <section class="module parallax parallax-2">
        
           <h1>RECICLE</h1>           <br></br>     
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lembre-se o descarte inteligente de residuos faz a diferenca no final </h2>
          
           <iframe width="100%" height="315" src="https://www.youtube.com/embed/sfa-jnXtA84?si=zo8Bs28EhF4PJTFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br></br>          
          <p>
           Lembre-se de reciclar seu lixo </p>
         <p>
           <h2>aqui estão três exemplos simples de como reciclar em casa:</h2>


Separar resíduos recicláveis:<br></br> Destine uma área específica em sua casa para separar materiais recicláveis, como papel, plástico, vidro e metal. Use recipientes diferentes para cada tipo de material e certifique-se de lavá-los antes de descartar, para evitar contaminação.<br></br>

Reutilizar embalagens:<br></br> Em vez de descartar imediatamente embalagens como potes de vidro, latas de metal ou recipientes plásticos, considere reutilizá-las. Elas podem servir para armazenar alimentos, organizar materiais de escritório, ou até mesmo como vasos para plantas.<br></br>Compostagem de resíduos orgânicos:<br></br> Separe os resíduos orgânicos, como restos de frutas, verduras e cascas de ovos, e crie uma composteira em sua casa. Compostagem é um processo natural de decomposição que transforma esses resíduos em adubo orgânico rico em nutrientes para suas plantas e jardim.<br></br>

Essas são apenas algumas maneiras de começar a reciclar em casa, ajudando a reduzir a quantidade de resíduos enviados para aterros sanitários e contribuindo para a preservação do meio ambiente.





</p>          
        </div>
      </section>

      <section class="module parallax parallax-3">
        <h1><spam>PIX verderenovar@gmail.com</spam></h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Verde renovar o caminho para um mundo melhor!</h2>
            <a href="/sobre"><p>
            Conheça nossos cursos
          </p></a>
         
        </div>
        <footer>andrecorreiadev &copy</footer>
      </section>

    </main>
  </div>

</body>
</html>