<link rel="stylesheet" href=" {{ url_for('static', filename='sobre.css')}}" />
  
<nav>
  <ul>
    <li><a href="#sessao1">informatica</a></li>
    <li><a href="#sessao2">meio-ambiente </a></li>
    <li><a href="#sessao3">doacoes</a></li>
    <li><a href="#sessao4">noticias</a></li>
    
  </ul>
</nav>


<section id="sessao1">
 <!-- <img class="receita" src="/static/img/informatica.jpg"></img>-->
  <a href='/curso'><h2>CURSO INFORMATICA BASICA</h2></a>
<br></br>
</section>

<section id="sessao2">
 
  <a href='/curso_ambiente'><h2>CURSO MEIO AMBIENTE</h2></a>

</section>

<section id="sessao3">
  
  <h2>CONTRIBUA COM NOSSO TRABALHO!!!<br></br>PIX:verderenovar@gmail.com</h2>
  

</section>

<section id="sessao4">

  <iframe width="80%" height="385" src="https://www.youtube.com/embed/27ZTolZLDfA?si=YlHdDTVi9yxoOPE2&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br></br>
  
  </section>
  <button><a href="/">voltar</a></button>
<footer>andrecorreiadev &copy</footer>